body {
    padding: 2% 20% !important;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}

a.delete {
    float: right;
    padding: 3px 5px;
    color: #FFF;
    background-color: #F00;
    border-radius: 4px;
}

a.delete:hover {
    color: #FFF;
    background-color: #D00;
    cursor:pointer;
}

#clear {
    margin-bottom: 30px;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #00EE76  ; /* springgreen2 */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

